a:link,
a:hover,
a:visited,
a:active {
    text-decoration: none;
}

.container {
    margin-top: 2%;
}

.list-group-header {
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
    text-transform: uppercase;
    font-weight: bold;
}
.active > a {
    color: white;
}

.todo-list .todo-description {
    display: inline-block;
    width: 70%;
}

.todo-done,
.todo-important {
    display: inline-block;
    width: 12%;
}

.todo-done label,
.todo-important label {
    font-weight: initial;
}
